
#include "resources.h"
#include <windows.h>

IDI_ICON       ICON         "icon.ico"

STRINGTABLE
BEGIN
   IDS_APP_TITLE       "RemoteControl"
   IDS_TOOLTIP         "Remote Control"
END

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "About", IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
END

IDD_ABOUT DIALOGEX  10, 10, 150, 50
STYLE WS_POPUP | WS_BORDER
CAPTION "About" 
BEGIN
    CTEXT         "By MoeFH", IDC_STATIC,      10, 10, 130, 20
    DEFPUSHBUTTON "&Close",   IDC_ABOUT_CLOSE, 50, 30, 50,  10, WS_TABSTOP
END
