
#include "resources.h"
#include <windows.h>

IDI_ICON       ICON         "icon.ico"

STRINGTABLE
BEGIN
   IDS_APP_TITLE       "RemoteControl"
   IDS_TOOLTIP         "Remote Control"
END

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Settings...", IDM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "About",       IDM_ABOUT
        MENUITEM "Exit",        IDM_EXIT
    END
END

IDD_SETTINGS DIALOGEX 0, 0, 125, 54
STYLE WS_POPUPWINDOW
CAPTION "Settings"
BEGIN
    RTEXT      "Port:",  IDC_STATIC,         11, 10, 16, 8
    EDITTEXT             IDC_SETTINGS_PORT,  35, 9,  58, 10, ES_AUTOHSCROLL|WS_TABSTOP
    PUSHBUTTON "OK",     IDOK,               9,  31, 50, 15, WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL,           66, 31, 50, 15, WS_TABSTOP
END

IDD_ABOUT DIALOGEX  10, 10, 150, 50
STYLE WS_POPUPWINDOW
CAPTION "About Remote Control"
BEGIN
    CTEXT         "By MoeFH", IDC_STATIC,  10, 10, 130, 16
    DEFPUSHBUTTON "&Close",   IDCANCEL,    50, 32, 50,  12, WS_TABSTOP
END
